---
layout: default
title: Members
permalink: /members/
---

<h2>Members</h2>
<p>We are proud to have many members of the Llandudno Chamber of Trade.</p>
<p>This page is to showcase these businesses which play a huge role in making Llandudno the attractive location that it is.</p>

<div class="member-grid">
{% assign loopindex = 0 %}
{% for page in site.members %}                       
  {% if page.mid != null %}
    {% assign loopindex = loopindex | plus: 1 %}
    {% assign rowfinder = loopindex | modulo: 4 %}
    {% if rowfinder == 1 %}
      <div class="row">
      	<div class="col-3 gridmember">
					<h3><a href="{{page.url | prepend: site.baseurl}}">{{ page.title }}</a></h3>
					<p>{{ page.description }}</p>
					<!-- <p><a href="{{page.website}}">Website</a></p> -->
					<a href="{{page.url | prepend: site.baseurl}}"><img style="width:100%" src="../members/images/{{page.thumbnail}}"></a>
				</div>
    {% elsif rowfinder == 0 %}
      	<div class="col-3 gridmember">
	  			<h3><a href="{{page.url | prepend: site.baseurl}}">{{ page.title }}</a></h3>
					<p>{{ page.description }}</p>
					<!-- <p><a href="{{page.website}}">Website</a></p> -->
					<a href="{{page.url | prepend: site.baseurl}}"><img src="../members/images/{{page.thumbnail}}"></a>
					</div>
      	</div>
    {% else %}
      	<div class="col-3 gridmember">
	  				<h3><a href="{{page.url | prepend: site.baseurl}}">{{ page.title }}</a></h3>
						<p>{{ page.description }}</p>
						<!-- <p><a href="{{page.website}}">Website</a></p> -->
					<a href="{{page.url | prepend: site.baseurl}}"><img src="../members/images/{{page.thumbnail}}"></a>
	  		</div>
    {% endif %}
  {% endif %}
{% endfor %}
{% if rowfinder != 0 %}
      </div>
{% endif %}