---
layout: default
---

  <h2>Welcome!</h2>
  <p>Welcome to the Llandudno Chamber of Trade!</p>
  <p>We are a non profit organisation that aims to support and create opportunities for businesses in Llandudno. Some of the ways we help are by organising promotional events, aiding businesses with promotion and liasing with other organisations in the interest of our members and Llandudno as a whole.</p>
  <p>If you would like to become a member, click <a href="../join/">here</a> or the join tab at the top of the page.</p>

  <h3>Look at all of our members!</h3>

  {% google_map src="_members" zoom="14" width="100%" %}