<form action="https://formspree.io/admin@auriga.tech"
      method="POST">
    <label for="name">Name</label>
    <br>
    <input type="text" name="name">
    <br>
    <label for="_replyto">Email Address</label>
    <br>
    <input type="email" name="_replyto">
    <br>
    <label for="_subject">Subject</label>
    <br>
    <input type="text" name="_subject">
    <br>
    <label for="message">Message</label>
    <br>
    <textarea rows="8" type="text" name="message"></textarea>
    <br>
    <button class="form-button" type="submit">Send message</button>
</form> 