<aside>
	<div class="nav-container">
		<nav>
			<ul>
				<li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
				<li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
				<li><a href="https://forum.llandudnochamberoftrade.co.uk">Forum</a></li>
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>

<header>
	{% if page.mid == null %}
	<h1>{{ site.title }}</h1>
	{% elsif page.mid != null %}
	<h1>{{ page.title }}</h1>
	{% endif %}
</header>
 
