<h3>Join the Chamber!</h3>
<form action="https://formspree.io/admin@auriga.tech"
      method="POST">
    <input type="hidden" name="_subject" value="New chamber member!"/>
    <input type="hidden" name="_notificationtype" value="New signup to the Chamber of Trade."/>
    <label for="name">Full Name</label>
    <br>
    <input type="text" name="name">
    <br>
    <label for="_replyto">Email Address</label>
    <br>
    <input type="email" name="_replyto">
    <br>
    <label for="_business">Business Name</label>
    <br>
    <input type="text" name="_business">
    <br>
    <label for="_website">Website</label>
    <br>
    <input type="text" name="_website">
    <br>
    <label for="_businessaddr">Business Address</label>
    <br>
    <textarea rows="6" type="text" name="_businessaddr"></textarea>
    <br>
    <h4>Your Email Preferences</h4>
    <input type="checkbox" id="agree-contact-marketing">
    <label for="agree-contact-marketing">I consent to my email address being used for locally relevant marketing purposes.</label>
    <input type="checkbox" required id="agree-signup">
    <label for="agree-signup">I agree to the terms & conditions.</label>
    <button class="form-button" type="submit">Sign Up!</button>
</form> 