<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	{% include header.html %}
	<main>
		<article class="animated fadeIn">
			{{ content }}
		</article>
		{% include footer.html %}
	</main>
</body>

</html>
